<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/jquery.min.js"></script>

<!-- Owl carousel -->
<script src="/js/owl.carousel.js"></script>

<!-- Bootstrap -->
<script src="/js/bootstrap.min.js"></script>

<!-- Theme Script File-->
<script src="/js/script.js"></script>

<!-- Off Canvas Menu -->
<script src="/js/offcanvas.min.js"></script>

<!-- Utils files -->
<script src="/js/utils/functions.js"></script>
<script src="/js/utils/constants.js"></script>
</body>
</html>