<!-- Footer Section -->
<footer class="footer_section section_wrapper section_wrapper" >
    <div class="footer_top_section">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="text_widget footer_widget">
                        <div class="footer_widget_title"><h2>Sobre Gamer Plus</h2></div>

                        <div class="footer_widget_content">
                            Gamer Plus es un portal de noticias de videojuegos con unos pocos
                            años en el mundo del periodismo de videojuegos. Este portal considera
                            que es importante contar las historias de manera completa y honesta, pero que a la vez
                            haya un mínimo de consideración por el/la lector/a. "Ser considerados no cuesta nada",
                            una idea muy apoyada en esta empresa y se defiende por sobretodo.
                        </div>
                    </div><!--text_widget-->
                </div><!--col-xs-3-->

                <div class="col-md-6">
                    <div class="footer_widget">
                        <div class="footer_widget_title"><h2>Descubre</h2></div>
                        <div class="footer_menu_item ">
                            <div class="row">
                                <div class="col-sm-4">
                                    <ul class="nav navbar-nav">
                                        <% if(categories && categories.length > 0) { %>
                                            <% categories.forEach(category => { %>
                                                <li><a href="/category/<%= category.name.toLowerCase() %>"><%= category.name %></a></li>
                                            <% });%>
                                        <% } else { %>
                                            <li>No discover data</li>
                                        <% } %>
                                    </ul>
                                </div><!--col-sm-4-->
                                <div class="col-sm-4">
                                    <ul class="nav navbar-nav ">
                                        <li><a href="#">Contacto</a></li>
                                        <li><a href="#">Términos y condiciones</a></li>
                                        <li><a href="#">Política de privacidad</a></li>
                                        <li><a href="#">Política de cookies</a></li>
                                    </ul>
                                </div><!--col-sm-4-->
                            </div><!--row-->
                        </div><!--footer_menu_item-->
                    </div><!--footer_widget-->
                </div><!--col-xs-6-->

                <div class="col-md-3">
                    <% if(editor) { %>
                        <div class="text_widget footer_widget">
                            <div class="footer_widget_title"><h2>Mensaje del editor</h2></div>
                            <img src="<%= editor.image_src %>" />
                            <div class="footer_widget_content">
                                Gracias por visitar Gamer Plus. Este portal de noticias de videojuegos
                                fue creado como una iniciativa para poder informar de la manera más natural
                                y honesta posible a los jugadores y fanáticos de Esports. ¡Tu visita nos ayuda
                                a ser más conocidos!
                            </div>
                        </div>
                    <% } else { %>
                        <p>No editor data</p>
                    <% } %>
                </div><!--col-xs-3-->
            </div><!--row-->
        </div><!--container-->
    </div><!--footer_top_section-->
    <a href="#" class="crunchify-top"><i class="fa fa-angle-up" aria-hidden="true"></i></a>

    <div class="copyright-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <% if(editor) { %>
                        Editor: <%= editor.first_name + " " + editor.last_name %>
                    <% } else { %>
                        No editor data
                    <% } %>
                </div><!--col-xs-3-->
                <div class="col-md-6">
                    <div class="copyright">
                        © Copyright 2023 - Gamer Plus<br>
                        Diseño original hecho por: <a href="https://uiCookies.com" title="uiCookies" target="_blank">uiCookies</a><br>
                        Diseño modificado por: <a href="https://github.com/KamaliKevin" target="_blank">KamaliKevin</a>
                    </div>
                </div><!--col-xs-6-->
                <div class="col-md-3">
                    Gamer Plus
                </div><!--col-xs-3-->
            </div><!--row-->
        </div><!--container-->
    </div><!--copyright-section-->
</footer>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/jquery.min.js"></script>

<!-- Owl carousel -->
<script src="/js/owl.carousel.js"></script>

<!-- Bootstrap -->
<script src="/js/bootstrap.min.js"></script>

<!-- Theme Script File-->
<script src="/js/script.js"></script>

<!-- Off Canvas Menu -->
<script src="/js/offcanvas.min.js"></script>
</div>
</body>
</html>