<%- include('layouts/header', { title: 'Gamer Plus - Contacto'}) %>

<div class="container">
    <p class="contact_title">Contacto</p>
    <main>
        <form>
            <div class="contact_input_container">
                <label for="name" class="form-label">Nombre</label>
                <input type="text" class="form-control contact_input" id="name" placeholder="Pon tu nombre aquí">
                <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
            </div>
            <div class="contact_input_container">
                <label for="email" class="form-label">Correo electrónico</label>
                <input type="email" class="form-control contact_input" id="email" placeholder="Pon tu correo electrónico aquí">
            </div>
            <div class="contact_input_container">
                <label for="comments">Comentarios</label>
                <textarea class="form-control contact_input_textarea" id="comments"
                          rows="3" placeholder="Dinos aquí que quieres sugerir, preguntar o resolver"></textarea>
            </div>
            <button type="button" class="btn btn-primary contact_button">Enviar</button>
        </form>

        <article class="contact_article">
            <p>Si el formulario de contacto no funciona, puedes probar los siguientes medios: </p>
            <ul>
                <li><b>Escríbenos a nuestro correo electrónico:</b> <a href="mailto:soporte@example.com">soporte@gamerplus.com</a></li>
                <li><b>Llámanos:</b> 928117XXX</li>
                <li><b>Nuestra oficina abierta al público:</b> Calle Mármoles, XX, XX (Málaga, España)</li>
            </ul>
        </article>
    </main>
</div>

<%- include('layouts/footer') %>